source ~/.intellimacs/spacemacs.vim

" (Optional) Enable other Intellimacs modules
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim

" (Optional) Enable which-key plugin
source ~/.intellimacs/which-key.vim

" Custom options
set scrolloff=10
nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
